#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1em;
}

#navbar .links, #navbar .title, #navbar .space {
  flex: 1;
}

#navbar .links {
  font-size: .9em;
  text-align: left;
}

#navbar .space {
  text-align: right;
}

#navbar .links a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  margin-right: 20px;
  animation: ease 1s;
}

#navbar .active {
  font-weight: bold;
  padding: 10px;
  border: #000 solid 1px;
}

#navbar img {
  height: 1.75em;
}